.bar-button {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
}

.bar-button:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
	color: #000;
	background-color: #ccc;
}

.bar {
	width: 100%;
	overflow: hidden;
	display: inline-block;
	width: auto;
	position: static;
	font-family: 'Roboto Condensed';
	transition: all 0.2s ease-in-out;
}

.bar .bar-item {
	font-size: 24px;
	padding: 8px 32px;
	float: left;
	width: auto;
	border: none;
	display: block;
	outline: 0
}

.bar-button-text {
	font-size: 24px;
	padding-left: 24px;
	transition: all 0.2s ease-in-out;
}

.dummy {
	display: block;
	float: left;
	padding: 8px 16px;
	transition: all 0.2s ease-in-out;
}

.icon {
	display: none !important;
}

@media all and (max-width: 1280px) {
	.dummy {
		padding: 4px 8px;
	}

	.bar {
		text-align: center;
	}

	.bar .bar-item {
		font-size: 2em;
		padding: 16px;
	}

	.bar-button-text {
		font-size: 0px;
		padding-left: 0px;
	}
}

@media all and (max-width: 400px) {
	.bar-item {
		display: none !important;
	}

	.icon {
		display: block !important;
	}

	.responsive {
		float: none !important;
		display: block !important;
		width: 400px !important;
		text-align: left;
		padding: 5px 16px !important;
	}

	.responsive .bar-button-text {
		font-size: 24px !important;
		padding-left: 24px !important;
	}
}